<header>
    <h1>{{title}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allData">All Movies</a></li>
            <li><a href="/data/search/id">Search by ID</a></li>
            <li><a href="/data/search/title">Search by Title</a></li>
        </ul>
    </nav>
</header>
