<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>Jisna Mathew(n01618824)</h1>
    </header>
    <div class="content">
      {{{body}}}
    </div>
    <footer>
      <p>Email: jisna.mathew@gmail.com</p>
    </footer>
  </body>
</html>
